.DS_Store
admin/.DS_Store
admin/upload_assets/.DS_Store
assets/.DS_Store
assets/ajax/.DS_Store
assets/images/.DS_Store
assets/js/.DS_Store
core/.DS_Store
docs/.DS_Store
uploads/
uploads/.DS_Store
views/.DS_Store